.footer
  .policy
    %li.policy__list プライバシーポリシー
    %li.policy__list メルカリ利用規約
    %li.policy__list 特定商取引に関する表記
  .footer-image
    .footer-image__image
      = image_tag('/logo-gray.svg')
  .footer-text
    © 2019 Mercari