.header
  .header__image--mercari
    = link_to image_tag('/logo.svg'), root_path
  %ol.progress-bar
    %li.is-active
      %span 会員情報
    %li.is-active
      %span 電話番号認証
    %li.is-active
      %span  お届け先住所入力
    %li.is-active.is-active__last
      %span 支払い方法
    %li
      %span 完了
  
.step4-main
  .register-text 支払い方法
  .register-card
    .register-card__number
      %label.register-card__number--label カード番号
      %span.register-required 必須
      %textarea.register-card__number--textarea{cols: "40", name: "kanso", placeholder: "半角数字のみ", rows: "1"}
    .register-card__date
      %label.register-card__date--label 有効期限
      %span.register-required 必須
      %br
      %select.register-card__date--select{name:"card_month"}
      年
      %select.register-card__date--select{name:"card_year"}
      月
    .register-card__code
      %label.register-card__code--label セキュリティコード
      %span.register-required 必須
      %textarea.register-card__code--textarea{cols:  "40", name: "security_code", placeholder: "カード背面4桁もしくは3桁の番号", rows: "1"}
  = button_to complete_signup_index_path, class: "register-card__reason", method: :post do
    %i.fa.fa-question-circle
    カード裏面の番号とは？
    = link_to "次へ進む", complete_signup_index_path, class: "register-profile__nextpage"
= render "login-footer"
