.header
  .header__image--mercari
    = link_to image_tag('/logo.svg'), root_path
  %ol.progress-bar
    %li.is-active
      %span 会員情報
    %li.is-active.is-active__last
      %span 電話番号認証
    %li
      %span  お届け先住所入力
    %li
      %span 支払い方法
    %li
      %span 完了

.step2-main
  .register-text  電話番号の確認
  .register-phonenumber
    .register-phonenumber__box
      %label.register-phonenumber__box--label 携帯電話の番号
      %textarea.register-phonenumber__box--textarea{:cols => "40", :name => "phonenumber", :placeholder => "携帯電話の番号を入力", :rows => "1"}
      .register-phonenumber__box--description 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
    = link_to "SMSを送信する", step3_signup_index_path, class: "register-phonenumber__nextpage"
    .register-phonenumber__description ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
    = link_to step3_signup_index_path, class: "register-phonenumber__reason",method: :get do
      電話番号の確認が必要な理由
      %i.fa.fa-arrow-right
= render "login-footer"
