<!DOCTYPE html>
%html
  %head
  %body
    =render partial: "shared/header" 
    .mypage__wrapper
      =render partial:"sidebar"

      .mypage-content
        %section.mypage-content__icon
          =link_to "http://google.co.jp" do
            .mypage__link
              =image_tag ("face.jpg"), class: "mypage__link--photo"
              %h2.mypage__link--name.bold
                aaa
              .mypage__link__number
                .mypage__link__number__evaluation
                  評価
                  %span.bold
                    6
                .mypage__link__number__items
                  出品数
                  %span.bold
                    1

        .mypage__notification
          %ul.mypage__notification__tabs
            .mypage__notification__tabs--notify
              %h3.bold
                お知らせ
            .mypage__notification__tabs--todo-list
              %h4.bold
                やることリスト
          .mypage__notification__content
            %li
              =link_to 'http://google.co.jp', class: 'mypage__notification__content--link' do
                =image_tag "mercari.jpg", class: "mercari-icon"
                .notification__body
                  .notification__body--text
                    【今日まで！】1000ポイント貰える!
                  .notification__body--time
                    .icon_time
                      =fa_icon "history", class: 'time_icon'
                      %span
                        2 日前
                  .notification__body--next
                    =fa_icon "chevron-right"
            %li
              =link_to 'http://google.co.jp', class: 'mypage__notification__content--link' do
                =image_tag "mercari.jpg", class: "mercari-icon"
                .notification__body
                  .notification__body--text
                    【今日まで！】1000ポイント貰える!【今日まで！】1000ポイント貰える!【今日まで！】1000ポイント貰える!【今日まで！】1000ポイント貰える!【今日まで！】1000ポイント貰える!
                  .notification__body--time
                    .icon_time
                      =fa_icon "history", class: 'time_icon'
                      %span
                        2 日前
                  .notification__body--next
                    =fa_icon "chevron-right"
            %li
              =link_to 'http://google.co.jp', class: 'mypage__notification__content--link' do
                =image_tag "mercari.jpg", class: "mercari-icon"
                .notification__body
                  .notification__body--text
                    【今日まで！】1000ポイント貰える!
                  .notification__body--time
                    .icon_time
                      =fa_icon "history", class: 'time_icon'
                      %span
                        2 日前
                  .notification__body--next
                    =fa_icon "chevron-right"
            %li
              .mypage__notification__content--all
                =link_to 'http://google.co.jp', class: 'notification-all' do
                  一覧を見る

        .mypage__bought
          .mypage__bought__head.bold
            購入した商品
          %ul.mypage__bought__tabs
            .mypage__bought__tabs--transaction
              %h3.bold
                取引中
            .mypage__bought__tabs--past
              %h4.bold
                過去の取引
          .mypage__bought__content
            %li
              =link_to 'http://google.co.jp', class: 'mypage__bought__content--link' do
                =image_tag "cloth.jpg", class: "items"
                .bought__body
                  .bought__body--text
                    洋服洋服洋服洋服洋服洋服
                  .bought__body--status
                    取引完了
                  .bought__body--next
                    =fa_icon "chevron-right"
            %li
              =link_to 'http://google.co.jp', class: 'mypage__bought__content--link' do
                =image_tag "bag.jpg", class: "items"
                .bought__body
                  .bought__body--text
                    カバンカバンカバンカバンカバン
                  .bought__body--status
                    取引完了
                  .bought__body--next
                    =fa_icon "chevron-right"
            %li
              =link_to 'http://google.co.jp', class: 'mypage__bought__content--link' do
                =image_tag "bag.jpg", class: "items"
                .bought__body
                  .bought__body--text
                    文具文具文具文具文具
                  .bought__body--status
                    取引完了
                  .bought__body--next
                    =fa_icon "chevron-right"
            %li
              =link_to 'http://google.co.jp', class: 'mypage__bought__content--link' do
                =image_tag "cloth.jpg", class: "items"
                .bought__body
                  .bought__body--text
                    服服服服服服
                  .bought__body--status
                    取引完了
                  .bought__body--next
                    =fa_icon "chevron-right"
            %li
              .mypage__bought__content--all
                =link_to 'http://google.co.jp', class: 'notification-all' do
                  一覧を見る