%html
  %head
  %body
    =render partial: "shared/header-after-login"

    .mypage__wrapper
      .mypage__identification
        %form.mypage__logout
          .mypage__logout__content
            = link_to destroy_user_session_path, method: :delete, class: ‘btn’ do
              ログアウト
      =render partial:"sidebar"
    = render partial: "shared/exhibit"
    = render partial: "shared/footer"