<!DOCTYPE html>
%html
  %head
  %body
    -if user_signed_in?  
      =render partial: "shared/header-after-login"
    -else
      =render partial: "shared/header"
    =render 'shared/breadcrumbs'
    .mypage__wrapper
      .mypage-content
        .mypage__bought
          .mypage__bought__head.bold
            購入した商品
          %ul.mypage__bought__tabs
            =link_to purchase_users_path, class: 'mypage__bought__tabs--transaction' do
              %h4.bold
                取引中
            .mypage__bought__tabs--past
              %h4.bold
                過去の取引
          .mypage__bought__content
            %li
              - @items.each do |item|
                =link_to item_path(item), class: 'mypage__bought__content--link' do
                  -image = item.item_images[0]
                  =image_tag "#{image.image}", class: "items"
                  .bought__body
                    .bought__body--text
                      = item.name
                    .bought__body--status
                      取引完了
                    .bought__body--next
                      =fa_icon "chevron-right"
 
      =render partial:"users/sidebar"
    = render partial: "shared/exhibit"
    = render partial: "shared/footer"