.main-top__exhibit
  = link_to new_item_path, class: "main-top__exhibit__link" do
    .main-top__exhibit__link__circle
      .main-top__exhibit__link__circle__title 出品
      = fa_icon "camera", class: "camera__icon"