.item-wrapper {
  .item {
    margin: 40px auto 0;
    padding: 24px 40px 40px 40px;
    width: 700px;
    background-color: #fff;
    &__name {
      font-size: 24px;
      text-align: center;
      line-height: 1.4;
    }
    .item__content.clearfix {
      margin: 16px 0 0;
      .item__photo {
        float: left;
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        line-height: 0;
          &--others img {
            line-height: 0;
            display:block;
            float: left;
          }
        }
      } 
      table {
        float: right;
        width: 100%;
        max-width: 300px;
        height: 420px;
        margin: 0 auto;
        border: 1px solid #f5f5f5;
        th {
          padding: 8px;
          background-color: #FAFAFA;
        }
        td {
          padding: 8px;
        }
        .icon-arrow {
          color: #0099e8;
          font-size: .9em
        }
      }
     
    .item__price-box {
      display: inline-block;
      text-align: center;
      margin: 24px 0 0;
      height: 50px;
      width: 100%;
      .item__price {
        font-size: 50px;
        margin: 0 16px 0 0;
      }
      .item__tax {
        font-size: 10px;
        color: #333333;
      }
      .item__shipping-fee {
        font-size: 16px;
        color: #333333;
      }
      
    }

    .item__buy-btn {
      display: block;
      width: 620px;
      margin-top: 16px;
      background: #ea352d;
      text-align: center;
      &--link {
        font-size: 24px;
        line-height: 60px;
        color: #fff;
        font-weight: 600;
      } 
    }
  
    .item-description {
      padding: 20px 0 0;
      font-size: 18px;
      &__inner {
        white-space: pre-wrap;
        word-wrap: break-word;
        line-height: 1.5; 
      }
    } 
    .item-button-container.clearfix {
      margin: 16px 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item-button--left {
        float: left;
        padding: 8px 16px;
        color: #333;
        button {      
          border-radius: 40px;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          font-size: 14px;
        }
      }
      .item-button--right {
        float: right;
        padding: 8px 16px;
      }
    } 
  }
  .item__change-box{
    margin: 24px auto 0;
    background: #fff;
    padding: 8px 16px 8px 16px;
    width: 700px;
    .btn-default{
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
    a:hover {
      opacity: 0.5;
    }
    p {
      font-size: 16px;
      text-align: center;
    }
    .btn-red{
      margin: 16px 0 16px 0;
      border: 1px solid #ea352d;
      color: #fff;
      background-color: #ea352d;
    }
    .btn-gray{
      margin: 16px 0 16px 0;
      border: 1px solid #aaa;
      color: #fff;
      background-color: #aaa;
    }
  }
  .item-detail-message {
    height: 300px;
    margin: 30px auto 40px;
    padding: 24px 40px 40px 40px;
    width: 700px;
    background-color: #fff;

    p {
      padding: 8px;
      background-color: #FFF6de;
    }

    textarea {
      width: 100%;
      min-height: 104px;
      margin: 8px 0 8px 0;
    }
    .message-submit--btn-gray {
      width: 100%;
      height: 50px;
      background-color: #AAAAAA;
      color: #fff;
    }
  }
  
  .item-link {
    margin: 40px auto 0;
    width: 700px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
    .icon-arrow {
      color: #0099e8;
      font-size: .9em
    }
  }
  .item-social-media{
    margin: 24px auto;
    padding: 32px 0 24px;
    width: 700px;
    text-align: center;
    background-color: #fff;
    &__list{
      li{ 
        display: inline-block;
        margin: 0 8px 8px 0;
        .facebook{
          i{
            color:#385185;
            font-size:44px;
          }
        }
        .twitter{
          i{
            color: #5d9dc9;
            font-size:44px;
          }
      }
        .pinterest{
          i{
            color:#aa262a;
            font-size:44px;
          }
        }
      }
    }
  }
}