%li.main-top__contents__center__items__ladies__list__item
  = link_to purchase_item_path(item), class: "link" do
    -image = item.item_images[0]
    =image_tag "#{image.image}" if item.item_images.present?
    %span.price
      ¥
      =item.price.to_s(:delimited)
    %figcaption
      %span
        =item.name