= link_to "http://google.co.jp", class: "link" do
  = image_tag 'https://static.mercdn.net/thumb/photos/m83493915413_1.jpg?1565708570', height: '188', width: '188'
  %span.price
    ¥
      =item.price
  %figcaption
    %span
      =item.name