@import "config/colors";
@import "mixin/clearfix";

*{
  box-sizing: border-box; 
}

html,body{
  position: relative;
  height: 100%;
  background: $backcolor;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: $fontblack;
  line-height: 1;
  background-color: $backcolor;
}

.mypage__wrapper {
  @include clearfix();
  width: 1020px;
  margin: 24px auto 0;
  padding: 0 0 40px;
}

.mypage-content{
  float: left;
  width: 700px;
  &__icon{
    position: relative;
    height: 200px;
    padding: 20px;
    background: url('mypage_backgroud.jpg');
    background-size: cover;
    text-align: center;
    .mypage__link{
      color: $fontblack;
      transform: translate(0, -50%);
      font-size: 14px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      &--photo{
        height: 60px;
        width: 60px;
        border-radius: 30px;
      }
      &--name{
        text-align: center;
        margin: 8px 0 0 0;
      }
      &__number{
        margin: 8px;
        &__evaluation{
          display: inline-block;
        }
        &__items{
          display: inline-block;
          margin: 0 0 0 16px;
        }
      }
    }
  }
  .mypage__notification{
    background-color: $white;
    margin: 0; 
    @include clearfix();
    &__tabs{
      height: 75px;
      width: 700px;
      text-align: center;
      line-height: 75px;
      @include clearfix();
      &--notify{
        float: left;
        width: 50%;
        border-top: 2px solid #ea352d;
      }
      &--todo-list{
        float: left;
        width: 50%;
        background-color: $gray;
      }
    }
    &__content{
      list-style: none;
      display: block;
      &--link{
        display: block;
        min-height: 80px;
        padding: 16px;
        color: $fontblack;
        position: relative;
        line-height: inherit;
        text-decoration: none;
      }
      &--all{
        padding: 16px;
        line-height: 60px;
        text-align: center;
      }
    }
  }
}

li{
  border-bottom: 1px solid #eee;
}

.mypage__bought{
  margin: 40px 0 0;
  background: $white;
  &__head{
    height: 75px;
    font-size: 16px;
    line-height: 75px;
    padding: 0 16px;
  }
  &__tabs{
    height: 75px;
    line-height: 75px;
    width: 700px;
    text-align: center;
    @include clearfix();
    &--transaction{
      float: left;
      width: 350px;
      background-color: $gray;
    }
    &--past{
      float: left;
      width: 350px;
      border-top: 2px solid #ea352d;
    }
  }
  &__content{
    list-style: none;
    &--link{
      display: block;
      padding: 16px;
      color: #333;
      position: relative;
      line-height: inherit;
      text-decoration: none;
    }
    &--all{
      padding: 16px;
      line-height: 60px;
      text-align: center;
      min-height: 80px;
    }
  }
}

.bold{
  font-weight: bold;
  font-size: 16px;
}

.items{
  float: left;
  width: 48px;
  height: 48px;
}

.mercari-icon{
  float: left;
  width: 48px;
  height: 48px;
}

.icon_time{
  font-size: 16px;
  vertical-align: middle;
}

.notification__body{
  margin: 0 40px 0 68px;
  &--text{
    overflow: hidden;
    display: block;
    display: -webkit-box;
    max-height: 4.4em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  &--time{
    display: inline-block;
    color: #888;
  }
  &--next{
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 16px;
  }
}

.bought__body{
  margin: 0 40px 0 68px;
  &--text{
    overflow: hidden;
    display: block;
    max-height: 4.4em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  &--status{
    display: inline-block;
    margin: 8px 0 0 0;
    padding: 5px 6px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    background-color: #888;
  }
  &--next{
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 16px;
  }
}

span{
  margin: 0 0 0 8px;
  font-size: 14px;
}

.notification-all{
  display: block;
  height: 56px;
  margin: 0 auto;
  background: $gray;
  color: $fontblack;
  line-height: 56px;
  text-align: center;
  text-decoration: none;
}