// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height: 128px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  &__image--mercari{
    display: block;
    width: 185px;
    height: 49px; 
    padding-right: 44px;
  }
}

.login-main {
  height: 731px;
  width: 100%;
  background-color: #f5f5f5;
}
.register-main {
  height: 564px;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom:75px; 
}

.step1-main{
  height: 1260px;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom:75px; 
}

.step2-main{
  height: 403px;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom:75px; 
}


.step3-main{
  height: 403px;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom:75px; 
}

.step4-main{
  height: 403px;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom:75px; 
}

.step5-main{
  height: 403px;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom:75px; 
}

.register-box {
  height: 1260px;
  width: 700px;
  margin: 0 auto;
  background-color: #ffffff;
}

.login-new-account {
  height: 144px;
  width: 456px;
  background-color: #ffffff;
  margin:  auto;
  border-bottom: grey;
  &__text {
    padding:40px 0px 0;
    font-size: 14px;
    text-align: center;
  }
  &__link {
    display: block;
    height: 42px;
    width: 328px;
    background-color: #0099e8;
    color: #ffffff;
    margin: 8px auto 0;
    text-align: center;
    line-height: 42px;
    text-decoration: none;
    font-size: 14px;
  }
}
.login-social {
  height: 181px;
  width: 456px;
  background-color: #ffffff;
  margin: 0 auto;
  border-top: 1px solid #eee;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  &__facebook {
    display: block;
    height: 50px;
    width: 328px;
    margin:  auto;
    margin-top: 32px;
    background-color: #385185;
    color: #ffffff;
    line-height: 50px;
    text-decoration: none;
  }
  &__google {
    display: block;
    height: 50px;
    width: 326px;
    margin:  auto;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid gray;
    margin-top: 18px;
    line-height: 50px;
    text-decoration: none;
  }
}

.login-email{
  height: 406px;
  width: 456px;
  background-color: #ffffff;
  padding-top: 30px;
  margin: 0 auto;
  &__address {
    height: 46px;
    width: 328px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 25px;
    &--textarea {
      width: 100%;
      height: 100%;
      resize: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px;
    }
  }
  &__password {
    height: 48px;
    width: 328px;
    margin: 0 auto;
    margin-bottom: 25px;
    &--textarea {
      width: 100%;
      height: 100%;
      resize: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px;
    }
  }
  &__login {
    height: 50px;
    width: 328px;
    margin:  auto;
    background-color: #ea352d;
    color: #ffffff;
    &--submit {
      height: 50px;
      width: 328px;
      margin:  auto;
      background-color: #ea352d;
      color: #ffffff;
      background-color: #ea352d;
    }
  }
  &__help {
    display: block;
    height: 50px;
    width: 328px;
    margin:  0 auto;
    margin-top: 40px;
    color: #0099e8;
    text-decoration: none;
  }
}

.register-text {
  width: 700px;
  height: 97px; 
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: 1px solid #f5f5f5;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  line-height: 97px;
}

.register-new {
  width: 700px;
  height: 287px; 
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding-top: 40px;
  &__email {
    height: 50px;
    width: 343px;
    margin: 0 auto;
    position: relative;
    background-color: #eeeeee;
    &--icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(0, -50%);
      color: #ccc;
      font-size: 16px;
    }
    &--submit {
      font-size: 14px;
      line-height: 50px;
      text-decoration: none;
      color: #333333;
    }
  }
  &__facebook {
    height: 50px;
    width: 343px;
    margin: 0 auto;
    position: relative;
    margin-top: 16px;
    background-color: #385185;
    color: #ffffff;
    text-decoration: none;
    &--icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(0, -50%);
      color: #385185;
      background-color: #ffffff;
      font-size: 26px;
    }
    &--submit {
      font-size: 14px;
      line-height: 50px;
      text-decoration: none;
      color:#ffffff;
    }
  }
  &__google {
    height: 50px;
    width: 343px;
    margin: 0 auto;
    position: relative;
    margin-top: 16px;
    border: 1px solid #ccc;

    &--icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(0, -50%);
      color: #385185;
      background-color: #ffffff;
      font-size: 26px;
      
    }
    &--submit {
      font-size: 14px;
      line-height: 50px;
      text-decoration: none;
      color: #333333;;
    }
  }
}

.register-profile {
  width: 700px;
  height: 1283px; 
  background-color: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 40px 64px;
  &__nickname {
    height: 70px;
    width: 343px;
    margin: 0 auto;
    &--label {
      font-size: 14px;
      font-weight: bold;
    }
    &--textarea {
      width: 343px;
      resize: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px;
      margin-top: 8px;
    }
  }
    &__email {
      height: 70px;
      width: 343px;
      margin: 32px auto 0;
      &--label {
        font-size: 14px;
        font-weight: bold;
      }
      &--textarea {
        width: 343px;
        resize: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 8px;
      }
    }
    &__password {
      height: 70px;
      width: 343px;
      margin: 32px auto 0;
      &--label {
        font-weight: bold;
      }
      &--textarea {
        width: 343px;
        resize: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 8px;
      }
    }
   &__identification {
    width: 343px;
    margin: 32px auto 0;
    font-size: 14px;
    &--bold {
      font-weight: bold;
    }
   } 
   &__name {
    width: 343px;
    margin: 32px auto 0;
    font-size: 14px;
    &--label {
      font-weight: bold;
    }
   } 
   &__nameform {
    font-size: 14px;
    text-align: center;
    &--textarea {
      width: 165.5px;
      resize: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px;
    }
   } 
   &__namekana {
    width: 343px;
    margin: 32px auto 0;
    font-size: 14px;
    &--label {
      font-weight: bold;
   }
  }
   &__kana-nameform {
    font-size: 14px;
    text-align: center;
    &--textarea {
      width: 165.5px;
      resize: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px;
   }   
  }
  &__birthday {
    height: 70px;
    width: 343px;
    margin: 32px auto 0;

    &--label {
      font-size: 14px;
      font-weight: bold;
    }
    &--select {
      height: 48px;
      width: 76px;
      resize: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px;
      background-color: #ffffff;
    }
    &--caution {
      color: #888888;
      font-size:14px;
      margin-top: 8px;
    }
  }
  &__captcha{
    &--box {
      height: 78px;
      width: 343px;
      margin: 0 auto;
      margin-top: 90px;
      background: #888888;;
    }
  }
  &__nextpage {
    display: block;
    height: 50px;
    width: 328px;
    background-color: #ea352d;
    color: #ffffff;
    margin: 8px auto 0;
    text-align: center;
    line-height: 42px;
    text-decoration: none;
    font-size: 14px;
    }
  &__caution {
    display: block;
    width: 328px;
    margin: 0 auto;
  }
  &__nextpage {
    display: block;
    width: 343px;
    margin: 32px auto 0;
  }
  &__policy {
    display: block;
    width: 343px;
    margin: 32px auto;
    text-align: right;
    &--link {
      width: 343px;
      color: #0099e8;
      text-decoration: none;
    }
  }
}

.register-phonenumber {
  height: 403px;
  width: 700px;
  background-color: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 40px 64px;
  &__box {
    height: 70px;
    width: 343px;
    margin: 0 auto;
    &--label {
      font-size: 14px;
      font-weight: bold;
    }
    &--textarea {
      width: 343px;
      resize: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px;
      margin-top: 8px;
    }
    &--description {
      width: 343px;
      font-size: 14px;
      margin-top: 8px;
      padding: 5px;
    }
  }
  &__nextpage {
    display: block;
    height: 50px;
    width: 343px;
    background-color: #ea352d;
    color: #ffffff;
    margin: 100px auto 0;
    text-align: center;
    line-height: 42px;
    text-decoration: none;
    font-size: 14px;
    }
  &__description {
    height: 70px;
    width: 343px;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 8px;
  }
  &__reason {
    display: block;
    width: 343px;
    margin: 0 auto;
    text-align: right;
    color: #0099e8;
    text-decoration: none;
  }
}

.register-address {
  height: 403px;
  width: 700px;
  background-color: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 40px 64px;
}


.register-required {
  margin: 0 0 0 8px;
  margin-bottom: 10px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size:12px;
  color: #ffffff;
  background: #ea352d;
}

.footer {
  background-color: #f5f5f5;
  height: 140px;
  padding:40px;
  }
  .policy {
    width: 100%;
    line-height: 13px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #333333;
    &__list {
      margin: 0px 10px;
      list-style: none;
    }
  }

  .footer-image {
    text-align: center;
    width: 80px;
    height: 65px; 
    padding: 30px 0 10px 0; 
    margin: 0 auto;
  }
    .footer-text{
    clear: both;
    text-align: center;
    color: #333333;
    font-size: 11px;
  }






/*# sourceMappingURL=style.css.map */